.orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    background-color: white;
    padding: 10px;
    width: 100%;
    height: auto;
}
.format{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
hr{
    height: 1px;
    border: none;
    background-color: #5c5c5c;
    width: 50%;
}
.all-orders{
    width: 100%;
    overflow-y: hidden;
}

@media(max-width:800px){
    .orders{
        margin: 0;
        padding: 0;
    }
    h1{
        font-size: 25px;
    }
}